
// form{
 
//         background-image: url("https://images.pexels.com/photos/6004141/pexels-photo-6004141.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
//         color:white;
//     }

// ion-item:first-child {
//     border-top-left-radius: 5px;
//     border-top-right-radius: 5px;
//   }
//   ion-item:last-child {
//     border-bottom-left-radius: 5px;
//     border-bottom-right-radius: 5px;
//   }
//   ion-item.item {
//     background-color: rgba(255, 255, 255, 0.4);
//     margin-bottom: 1px;
//     .label {
//       width: 10%;
//       color: rgba(0, 0, 0, 0.6);
//       font-size: 1.2em;
//     }
//   }

input{
    border-radius: 30px !important;
    padding-left: 30px !important;
    font-size: 0.9em;
    margin-bottom: 10px;
  
    border-bottom: 0px !important;
    box-shadow: none !important;
   color: white;
}
